body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
a { cursor: pointer; }

/* puts spacing between the domain and measure column in the domain table */
.measure-column {
  padding-left: 10px;
}

/* fixes clickable area for accordion group titles */

accordion .panel-heading {
  padding: 0
}

accordion .panel-title div {
  padding: 10px 5px;
}

/* disable interaction (while loading) */
.is-disabled {
    opacity: .5;
    pointer-events: none;
}
