<div class="modal-header">
    <h3 class="modal-title">Domains</h3>
</div>

<div class="modal-body">
  <form class="form-inline" role="form" ng-submit="new_domain(new_domain_input)">
    <select class="form-control">
      <option ng-repeat="(domain, measures) in domains">{{domain}}</option>
    </select>
    
    <div class="form-group">
      <div class="input-group">
        <label class="sr-only" for="newDomainInput">Enter New Domain</label>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" style="border-radius:0" ng-click="new_domain(new_domain_input)">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </button>
        </span>
        <input type="text" class="form-control" id="newDomainInput" placeholder="New Domain" ng-model="new_domain_input">
      </div>
    </div>

  </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
