<h2>
  Studies
  <a class="btn-sm" style="vertical-align: middle" ng-click="new_study()" aria-label="New Study">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
  </a>
</h2>

<!-- <div ui-grid="{data: Object.keys(studies)}" class="study-grid"></div> -->
<table class='table'>
  <tr>
    <th></th>
    <th>program</th>
    <th>reference</th>
    <th>measures</th>
  </tr>
  <tr ng-repeat="(title, study) in studies">
    <td>{{title}}</td>
    <td>{{study.program}}</td>
    <td>{{study.reference}}</td>
    <td>{{study.measures}}</td>
    <td>
      <button type="button" class="btn btn-default btn-xs" style="border:0" aria-label="Edit Study" ng-click="edit(title)">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
      </button>
    </td>
    <td>
      <button type="button" class="btn btn-default btn-xs" style="border:0" aria-label="Delete Study" ng-click="del(title)">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </button>
    </td>
  </tr>
</table>
